.white-text {
	color: white !important;
}

.margin-bottom {
	margin-bottom: 20px;
}

.image-height {
	height: 200px !important
}

.margin-top {
	margin-top: 20px;
}

.post-text-size {
	font-size: 15px;
}

.round-image {
	border-radius: 50%
}

.grey-color {
	color: gray
}